.ForecastHourly {
  margin: 50px 30px;
  padding-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

.ForecastHourly .table-heading {
  background-color: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: var(--secondary-color);
  font-weight: 500;
  text-align: left !important;
  position: sticky;
  top: 5px;
}

.ForecastHourly .heading-text {
  font-size: 13px;
  padding-left: 10px;
}

.ForecastHourly .table {
  margin: 0;
  color: var(--primary-color);
}

.ForecastHourly .time,
.ForecastHourly .weather-icon,
.ForecastHourly .temperature {
  padding: 20px 20px;
}

@media (max-width: 768px) {
  .ForecastHourly {
    font-size: 15px;
    margin: 30px 0;
  }

  .ForecastHourly .heading-text {
    font-size: 10px;
  }

  .ForecastHourly .time,
  .ForecastHourly .weather-icon,
  .ForecastHourly .temperature {
    padding: 20px 10px;
  }
}

@media (max-width: 426px) {
  .ForecastHourly {
    font-size: 13px;
  }
}
