.ForecastHourly {
  margin: 40px 10px 20px;
  padding: 10px 20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
}

.ForecastHourly .table-heading {
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 500;
  text-align: left !important;
}

.ForecastHourly .table {
  margin: 0;
  color: var(--primary-color);
}

.ForecastHourly .time {
  padding: 20px 10px;
}

.ForecastHourly .hf-img {
  width: 60px;
}

.ForecastHourly .temperature {
  padding: 20px 10px;
}

@media (max-width: 768px) {
  .ForecastHourly {
    font-size: 15px;
    margin: 20px 10px;
  }

  .ForecastHourly .hf-img {
    width: 50px;
  }
}

@media (max-width: 426px) {
  .ForecastHourly {
    font-size: 13px;
  }

  .ForecastHourly .hf-img {
    width: 40px;
  }
}
