.Heading {
  padding: 10px 0;
}

.Heading h1 {
  color: var(--primary-color);
  margin-top: 10px;
  text-align: center;
}

.Heading .temp-heading {
  font-size: 70px;
}

.Heading .units {
  color: var(--secondary-color);
  font-size: 27px;
  font-weight: 400;
  vertical-align: 30px;
}

@media (max-width: 324) {
  .Heading .temp-heading {
    font-size: 30px;
  }
}
