.Heading {
  color: white;
  padding: 40px 0;
  text-align: center;
}

.Heading h1 {
  color: var(--primary-color);
  margin: 0;
}

.Heading .current-date {
  color: var(--secondary-color);
  font-style: italic;
  font-weight: 300;
  font-size: calc(0.8rem + 0.5vw);
}

.Heading .heading-icon {
  padding-right: 20px;
}

.Heading .temperature {
  font-size: calc(4rem + 1.5vw);
  font-weight: 300;
}

.Heading .units {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 300;
  vertical-align: calc(1.5rem + 1.5vw);
}
