.ForecastDaily {
  border-radius: 10px;
}

.ForecastDaily .min-temp {
  color: var(--secondary-color);
}

/* For small devices */
.ForecastDailySmallDevices {
  padding: 10px 0px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.ForecastDailySmallDevices .table-heading {
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 500;
}

.ForecastDailySmallDevices tr {
  color: var(--primary-color);
  line-height: 40px;
}

.ForecastDailySmallDevices th {
  padding-left: 10px;
  font-weight: 400;
}

/* For big devices */
.ForecastDailyBigDevices {
  margin: 10px 0;
  padding: 30px 0 10px;
  font-size: 20px;
  color: var(--primary-color);
  text-align: center;
}

.ForecastDailyBigDevices .wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px;
}

.ForecastDailyBigDevices .row {
  display: flex;
  justify-content: space-around;
}

.ForecastDailyBigDevices .row ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ForecastDailyBigDevices .day {
  padding: 10px;
}

.ForecastDailyBigDevices .weather-icon {
  padding: 30px;
}

.ForecastDailyBigDevices .temperatures {
  padding: 10px;
}

@media (max-width: 426px) {
  .ForecastDaily {
    font-size: 13px;
  }
}
