.table-heading {
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 500;
}

.table {
  background-color: rgba(0, 0, 0, 0.3);
}

.df-img {
  width: 30px;
}

.min-temp-daily {
  color: var(--secondary-color);
}
