$bodyBgColor: linear-gradient(
  150deg,
  rgb(188, 206, 252) 0%,
  rgb(142, 174, 253) 30%
);

$mainBgColor: rgba(0, 0, 0, 0.4);
$secondaryBgColor: rgba(0, 0, 0, 0.2);

$mainColor: white;
$secondaryColor: rgba(255, 255, 255, 0.5);
$thirdColor: #17a2b8;
