.WeatherInfo{
  margin: 10px 0;
}

.bg-color {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.weather-info {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.today-date {
  font-size: 20px;
}

.sky-description:first-letter {
  text-transform: capitalize;
}

.feels-like {
  color: var(--secondary-color);
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

.min-temp {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .weather-info {
    font-size: 15px;
  }

  .today-date {
    font-size: 15px;
  }

  .sky-description {
    color: var(--secondary-color);
    font-style: italic;
  }
}