.WeatherInfo {
  margin: 10px 0;
}

.WeatherInfo .bg-color {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.WeatherInfo .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.WeatherInfo ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.WeatherInfo .weather-info {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.WeatherInfo .today-date {
  font-size: 20px;
}

.WeatherInfo .sky-description:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .feels-like {
  color: var(--secondary-color);
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

.WeatherInfo .min-temp {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .WeatherInfo .weather-info {
    font-size: 15px;
  }

  .WeatherInfo .today-date {
    font-size: 15px;
  }

  .WeatherInfo .sky-description {
    color: var(--secondary-color);
    font-style: italic;
  }
}

@media (max-width: 374px) {
  .WeatherInfo .weather-info,
  .WeatherInfo .feels-like {
    font-size: 13px;
  }
}
