.WeatherInfo {
  padding: 20px 0;
}

.WeatherInfo .wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.WeatherInfo .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.WeatherInfo ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.WeatherInfo .weather-info {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.WeatherInfo .sun {
  text-align: left !important;
  padding-left: 20px;
}

.WeatherInfo .sunrise {
  padding-left: 10px;
}

.WeatherInfo .sunset {
  color: var(--secondary-color);
  padding-left: 10px;
}

.WeatherInfo .sky-description {
  font-style: italic;
}

.WeatherInfo .sky-description:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .feels-like {
  color: var(--secondary-color);
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

.WeatherInfo .min-temp {
  color: var(--secondary-color);
}

.WeatherInfoBottomSmallDevices {
  padding: 20px 0;
}

.WeatherInfoBottomSmallDevices .text {
  padding-top: 10px;
}

@media (max-width: 1200px) {
  .WeatherInfo .sun {
    padding: 0;
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .WeatherInfo .sun {
    font-size: 13px;
  }

  .WeatherInfo .sunset,
  .WeatherInfo .sunrise {
    padding-left: 5px;
  }

  .WeatherInfo .weather-info {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .WeatherInfo {
    padding: 0;
  }

  .WeatherInfo .today-date {
    font-size: 15px;
  }
}

@media (max-width: 426px) {
  .WeatherInfo .weather-info,
  .WeatherInfo .feels-like {
    font-size: 13px;
  }
}
