body {
  background: linear-gradient(
    300deg,
    rgb(241, 243, 248) 0%,
    rgb(142, 174, 253) 91%
  );
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: white;
  --secondary-color: rgba(255, 255, 255, 0.5);
}

.container-app {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

@media (max-width: 324px) {
  .App .container {
    padding: 10px;
  }

  .lng-btn {
    display: none;
  }
}
